<div class="project">
  <header>
    <div class="logo">
      <h1 class = "h1">Workout</h1>
    </div>
    <div class = "main_p">
      <p class = "logo_p">Открой для себя новый<br> вид спорта - workout.</p>
    </div>
    <div>
      <div class = "link_one">
        <a href="#" class = "link_1">Главная</a>
      </div>
      <div class = "link_two">
        <a href="#" class = "link_2">Регистрация</a>
      </div>
    </div>
    <div class = "bottom">
      <a href="#" class = "article">Статьи</a>
    </div>

    <div class = "Workout_is">
    <p class = "Workout">Workout - это тренировки со своим весом. Данный вид спорта поможет вам поддерживать и обрести красивую фигуру.</p>
  </div>
</header>
</div>